/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

.section {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
}

[class*="col-"] {
    background-color: royalblue;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}

[class*="col-xs"] {
    padding: 5px 5px;
    font-size: 1rem;
    align-content: center;
    line-height: 20px;
    padding: 10px;
}

.col-nest {
    background-color: greenyellow;
    border: 1px solid royalblue;
}